<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/df09f07c-44bf-4a03-bdfb-44441e90d68e/resourceGroups/testdriven-hotel/providers/Microsoft.Web/sites/testdriven-hotel-linnea</ResourceId>
    <ResourceGroup>testdriven-hotel</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://testdriven-hotel-linnea.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c0e568d6-c87c-4bdd-9156-2a5b01c53416</ProjectGuid>
    <PublishUrl>https://testdriven-hotel-linnea.scm.azurewebsites.net/</PublishUrl>
    <UserName>$testdriven-hotel-linnea</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>