@page
@model TestDrivenHotel.UI.Pages.AvailableRoomsModel
@{
}


<h1 class="mt-4 mb-4">Available Rooms</h1>
<p> 

</p>
@if (Model.AvailableRooms != null)
{
    @foreach (var room in Model.AvailableRooms)
    {
        <div class="card room-card">
            <div class="card-body">
                <h5 class="card-title">@room.Description</h5>
                <p class="card-text">Price: $@room.Price / night</p>
                <p class="card-text">Max Number of Guests: @room.MaxNumberOfGuests</p>
                @if (room.Seaview)
                {
                    <p class="card-text"><i class="fa fa-eye"></i> Seaview</p>
                    <img src="~/images/seaview.jpg" class="room-image" alt="Seaview">
                }
                @if (room.Balcony)
                {
                    <p class="card-text"><i class="fa fa-home"></i> Balcony</p>
                    <img src="~/images/balcony.jpg" class="room-image" alt="Balcony">
                }
                <a href="/BookRoom?roomId=@room.Id" class="btn btn-primary">Book this room</a>
            </div>
        </div>
    }
}


