@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">First instance of page: "click publish"</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<label for="start">Start date:</label>
<input type="date" id="start" name="booking-start" value="2024-02-01" min="2024-02-01" max="2024-12-31" />

<label for="end">End date:</label>
<input type="date" id="end" name="booking-end" value="2024-02-02" min="2024-02-02" max="2024-12-31" />

@if (Model.FilteredRooms != null)
{
    //html-koden att visa efter formularet ar postat
}